{% if method == 'GET' %}
    {% extends "layout.html" %}
{% endif %}
{% block content %}

<div class="graph-container"><div class="row">
    <div class="col-md-3 sidebar" id="infopanel" >
        <div id="basicinfo">
            <h1>搜尋結果</h1>
            <hr>
            <h2>公司姓名或統編:</h2> 
            <h2>{{query}}</h2> 
        </div>
        <div id="nodeinfo"></div>
    </div>

    <div id="d3-container" class="col-md-9">
        <div class="list-group">
        {% for k, v in targets.iteritems() %}
            <a class="list-group-item" href="/company/{{k}}">
                <p>統一編號：{{k}}</p>
                公司名稱：{{v}}
            </a>
        {% endfor %}
        </div>    
    </div>
</div></div>
<div style="visibility: hidden;" id="restapi">{{url}}</div>

{% endblock %}
