{% extends "layout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='lib/js/d3.v3.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='app/js/graph.js') }}" charset="utf-8"></script>


<div style="height: 80px; width: auto; background-color: white">
</div>

<div class="graph-container"><div class="row">
    <div class="col-md-3 col-sm-3 sidebar info" id="infopanel" >
        <h2>{{graphinfo.topic}} </h2> 
        <p>Query: <span id="cid">{{query}}</span><p>
        <p>{{graphinfo.explain}}</p>
        <hr>
        
        <h3>基本資料</h3>
        <hr>
        <div id="basicinfo"></div>
        
        <h3>節點資料</h3>
        <hr>
        <div id="nodeinfo"></div>
    </div>

    <div class="col-md-9">
        <div id="zoom-btn-group" class="btn-group">
           <button class="btn btn-default" id="zoom-in"><i class="fa fa-search-plus fa-2x"></i></button> 
           <button class="btn btn-default" id="zoom-out"><i class="fa fa-search-minus fa-2x"></i></button> 
        </div>
        <div id="d3-container">
        </div>
    </div>
</div></div>
<div style="visibility: hidden;" id="restapi">{{url}}</div>
<div style="visibility: hidden;" id="graphtype">{{graph}}</div>
{% endblock %}


