{% extends "layout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='lib/js/d3.v3.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='app/js/graph.js') }}" charset="utf-8"></script>

<style>
#infopanel{
    overflow: scroll;
}
#infopanel h1, h2, h3{
    color: #550088;
}
</style>

<div class="graph-container"><div class="row">
    <div class="col-md-3 panel panel-default" id="infopanel" >
        <h2>{{graphinfo}} </h2> 
        <h3>Company Information</h3>
        <p>Query: <span id="cid">{{query}}</span><p>
        
        <h3>基本資料</h3>
        <hr>
        <div id="basicinfo"></div>
        
        <h3>節點資料</h3>
        <hr>
        <div id="nodeinfo"></div>
    </div>

    <div id="d3-container" class="col-md-9">
    </div>
</div></div>
<div style="visibility: hidden;" id="restapi">{{url}}</div>
<div style="visibility: hidden;" id="graphtype">{{graph}}</div>
{% endblock %}


