{% extends "layout.html" %}
{% block content %}
<img class="center-block" src="{{ url_for('static', filename='app/img/index.png') }}">

<div class="row center">
<div class="col-lg-4">
<h2>圖形種類</h2>
<hr>
<h3>公司網路</h3>
有投資關係的公司關係圖
<h3>董監事網路</h3>
公司董監事關係
<h3>相同地址公司</h3>
相同地址的公司組成
<h3>董監事公司網路</h3>
有相同董監事及投資關係的公司網路
</div>    

<div class="col-lg-4">
<h2>搜尋方法</h2>
<hr>
<h3>搜尋公司（By Company）</h3>
<div class="input-group">
    <div class="input-group-btn">
         <button id="searchopt-text" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">By Company <span class="caret"></span></button>
    </div><!-- /btn-group -->
    <input id="searchquery" type="text" name="query" class="form-control" placeholder="請輸入公司名稱或統一號碼">
</div>
<p>可ㄧ輸入公司統一編號，公司名稱搜尋</p>
<h3>搜尋董監事（By Boss）</h3>
<div class="input-group">
    <div class="input-group-btn">
         <button id="searchopt-text" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">By Boss <span class="caret"></span></button>
    </div><!-- /btn-group -->
    <input id="searchquery" type="text" name="query" class="form-control" placeholder="請輸入董監事人名">
</div>
<p>可輸入姓名搜尋公司董監事</p>

</div>    
<div class="col-lg-4">
<h2>直接使用route</h2>
<hr>
<p>/company/id/[company id]</p>

</div>    
</div>    
<div id="d3_container" class="container">
</div>

<div id="basicInfo"></div>
{% endblock %}


