<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>TWCompanyTree</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='app/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='app/css/bootstrap-responsive.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='app/css/banner.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js" charset="utf-8"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script>
var changeSearchOpt = function(){
    var id = $(this).attr("id");
    console.log("changeSearchOpt: caller = " + id);
    var option = $("#searchopt-text");
    if(id=="byCom"){

        option.text("By Company ")
            .append("<span class=\"caret\"></span>");
        $("#searchopt").attr("value", "company");
        $("#searchquery").attr("placeholder", "請輸入公司名稱或統一號碼");

    }else if(id=="byBoss"){

        option.text("By Boss ")
            .append("<span class=\"caret\"></span>");
        $("#searchopt").attr("value", "boss");
        $("#searchquery").attr("placeholder", "請輸入董監事人名");

    }else if(id=="byAddr"){

        option.text("By Address ")
            .append("<span class=\"caret\"></span>");
        $("#searchopt").attr("value", "addr");
        $("#searchquery").attr("placeholder", "請輸入公司名稱或統一號碼");
    }
    return false;
};

var changeGraph = function(){
    p = $(this).parent();
    p.parent().children('li').removeClass("active");
    p.addClass("active");
    
    var id = $(this).attr("id");
    console.log("changeGraph: caller = " + id);
   
    $('#graphopt').attr("value", id);

    return false;
};

$('document').ready(function(){
    $('#searchform').submit(function(event){
       event.preventDefault();

       console.log("tttt");
       var url = "/search";
       $.ajax({
            type: "POST",
            url: url,
            data: $('#searchform').serialize(),
            success: function(data){
                $('#maincontainer').empty().append(data);        
                console.log("after ajax");
            },
            error: function(err){
                console.log(err);
            }           
       });
    });

});
</script>

</head>


<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">政商關係圖</a>
          </div>
          <div class="collapse navbar-collapse" id="main-menu-collapse">
            <ul class="nav navbar-nav" id="graph-nav">
              <li class="active"><a id="company" href="#" onclick="changeGraph.call(this);">公司網路</a></li>
              <li><a id="board" href="#" onclick="changeGraph.call(this);">董監事網路</a></li>
              <li><a id="companyaddr" href="#" onclick="changeGraph.call(this);">公司網路 by 地址</a></li>
              <li><a id="companyboard" href="#" onclick="changeGraph.call(this);">公司&董監事網路</a></li>
            </ul>

            <!-- Search button and field -->
            <form id="searchform" class="navbar-form navbar-left" action="/" method="post" role="search">
                <div class="form-group"><div class="input-group">

                    <div class="input-group-btn">
                        <button id="searchopt-text" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            By Company 
                            <span class="caret"></span>
                         </button>
                         <ul id="search-dropdown" class="dropdown-menu" role="menu">
                             <li><a id="byCom" href="#" onclick="changeSearchOpt.call(this);">By Company</a></li>
                             <li><a id="byBoss" href="#" onclick="changeSearchOpt.call(this);">By Boss</a></li>
                         </ul>
                    </div><!-- /btn-group -->
                    <input id="searchquery" type="text" name="query" class="form-control" placeholder="請輸入公司名稱或統一號碼">
                    <input type="hidden" name="searchopt" id="searchopt" value="company" /> 
                    <input type="hidden" name="graphopt" id="graphopt" value="company" /> 
                </div></div><!-- /input-group /form-group -->
                    <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://g0v.hackpad.com/hxJBK9v7frt"><i class="fa fa-file-text-o fa-lg fa-inverse"></i></a></li>
              <li><a href="https://github.com/solring/twcom_front"><i class="fa fa-github-square fa-lg fa-inverse"></i></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div style="height: 50px; width: auto; background-color: white">
    </div>

    <div id="maincontainer" class="container">
    {% block content %}
    {% endblock %}
    </div>

    <hr>
    <footer>
        <p>&copy; 政商關係圖 x g0v 2014</p>
    </footer>
</body>
</html>
