
<div style="height: 50px; width: auto; background-color: white">
</div>
<div class="graph-container"><div class="row">
    <div class="col-md-3 sidebar info" id="infopanel" >
        <div id="basicinfo">
            <h3>搜尋結果</h3>
            <h3>{{query}}</h3> 
        </div>
        <div id="nodeinfo"></div>
    </div>

    <div id="d3-container" class="col-md-9">
        <div class="btn-group-vertical" role="group">
        {% for k, v in targets.iteritems() %}
            <button class="btn btn-default" onclick="window.location.href='/{{graph}}/id/{{k}}'">
                <p>{{k}}</p>
                {% if querytype=='boss'%}
                    {% for name in v %}
                     {{name}}<br>
                    {% endfor %}
                {% else %}
                {{v}}
                {% endif %}
            </button>
        {% endfor %}
        </div>    
    </div>
</div></div>
<div style="visibility: hidden;" id="restapi">{{url}}</div>


