.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: -1;
}
.jumbotron.banner {
  position: relative;
  background-color: transparent;
}
.jumbotron.banner h1,
.jumbotron.banner h2 {
  display: inline-block;
  color: #fff;
  background-color: rgba(100, 0, 100, 0.7);
}
.jumbotron.banner h3,
.jumbotron.banner p {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(100, 0, 100, 0.7);
}
.info {
  overflow: scroll;
}
.info h1,
.info h2,
.info h3 {
  color: #511789;
}
.graph-container {
  padding: 80px;
}
#searchquery {
  width: 200px;
}
