{% extends "layout.html" %}
{% block content %}

<script src="http://code.jquery.com/jquery-1.10.2.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='lib/js/d3.v3.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='app/js/graph.js') }}" charset="utf-8"></script>

<style>
#infopanel{
    height: 500px;
    color: #550088;
}
</style>

<div class="container"><div class="row">
    <div class="col-md-3 panel panel-default" id="infopanel" >
        <h3>Company Information</h3>
        <p>Company id: <span id="cid">{{cid}}</span><p>
        <div id="basicinfo"></div>
        <div id="nodeinfo"></div>
    </div>

    <div id="d3-container" class="col-md-9">
    </div>
</div></div>

{% endblock %}


